<!DOCTYPE html>
<html lang="sl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Frizerski salon Mirko</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="assets/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Frizerski salon Mirko</a>
    </div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/blog-home-1">Kaj nudimo</a></li>
      <li><a href="/blog-post">Naroči se</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/about">O nas</a></li>
      <li><div class="row">
  <div class="col-sm-offset-1 col-sm-8">
    <div class="input-group-lg">
      <input type="text" class="form-control" placeholder="Iskalnik">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
          </div>
        </li>
       </ul>
        </div>
        </div>
</nav>

    <div id="vsebina">
        {% block vsebina_strani %}

        {% endblock vsebina_strani %}
    </div>
</body>
</html>